[Unit]
Description=Prometheus Exporter Proxy
After=network.target

[Service]
Type=simple
DynamicUser=true
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict
Restart=on-failure
ExecStart=/usr/bin/prometheus-exporter-proxy -config /etc/prometheus-exporter-proxy/config.yml

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
